<div class="container">
  <div class="row">

<div style="padding:20px;" class="col-md-4" >
  <mat-card >
    <mat-card-header>
      <mat-card-title><h3>{{ data.name }}</h3></mat-card-title>
      <mat-card-subtitle>Cumpleaños: {{ data.birth_year }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
    <p><strong>Género:</strong> {{ data.gender }}</p>
    <p><strong>Masa:</strong> {{ data.mass }}</p>
    <p><strong>Altura:</strong> {{ data.height }}</p>

    </mat-card-content>

  </mat-card>

</div>
  <div style="padding:20px;" class="col-md-8" >
    <h2>Naves</h2>
    <table class = "table table-sm">
        <tr>
          <th>Nombre</th>
          <th>Modelo</th>
          <th>Clase</th>
          <th>No. Pasajeros</th>
          <th>Peliculas</th>

        </tr>
        <tr *ngFor="let vehicle of vehicles" >
          <td>{{ vehicle.name }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.vehicle_class }}</td>
          <td>{{ vehicle.passengers }}</td>
          <td>{{ vehicle.pelis }}</td>

        </tr>



    </table>

  </div>
</div>
</div>
