<div class="container">
  <div class="row">

<div style="padding:20px;" class="col-md-6" *ngFor = "let data of httpdata">
  <mat-card >
    <mat-card-header>
      <mat-card-title><h3>{{ data.title }}</h3></mat-card-title>
      <mat-card-subtitle>{{ data.director }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    <p><strong>Fecha de lanzamiento:</strong> {{ data.release_date }}</p>
    <p><strong>Productor:</strong> {{ data.producer }}</p>
      <p>
          {{ data.opening_crawl }}
      </p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/detalles-pelicula']" [queryParams]="{ url: data.url}" >Más Información</button>
    </mat-card-actions>
  </mat-card>

</div>
</div>
</div>
