<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button [routerLink]="['/']" mat-mini-fab color="accent" class="material-icons" >
      <mat-icon aria-label="Example icon-button with a heart icon">home</mat-icon>
      </button>
 <span>  Star Wars </span>
    </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
</div>
