<div class="container">
  <div class="row">

<div style="padding:20px;" class="col-md-4" >
  <mat-card >
    <mat-card-header>
      <mat-card-title><h3>{{ data.title }}</h3></mat-card-title>
      <mat-card-subtitle>{{ data.director }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    <p><strong>Fecha de lanzamiento:</strong> {{ data.release_date }}</p>
    <p><strong>Productor:</strong> {{ data.producer }}</p>
      <p>
          {{ data.opening_crawl }}
      </p>

    </mat-card-content>

  </mat-card>

</div>
  <div style="padding:20px;" class="col-md-8" >
    <h2>Personajes</h2>
    <table class = "table table-sm">
        <tr>
          <th>Nombre del Personaje</th>
          <th>Fecha de Nacimiento</th>
          <th>Género</th>
          <th>Masa</th>
          <th>Altura</th>
          <th>Ver Más</th>
        </tr>
        <tr *ngFor="let personaje of personajes" >
          <td>{{ personaje.name }}</td>
          <td>{{ personaje.birth_year }}</td>
          <td>{{ personaje.gender }}</td>
          <td>{{ personaje.mass }}</td>
          <td>{{ personaje.height }}</td>
          <td>
              <button mat-button [routerLink]="['/personaje']" [queryParams]="{ url: personaje.url}" >Más</button>
          </td>
        </tr>



    </table>

  </div>
</div>
</div>
